body {
        font-family: Arial, sans-serif;
        margin: 20px;
        background: url(TABELA.jpg);
        background-size: auto;
        background-position: center;
    }
    table {
        width: 50%;
        margin: auto;
        border-collapse: collapse;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
        background-color: white;
    }
    th, td {
        padding: 12px;
        text-align: left;
    }
    th {
        background-color: rgb(109, 21, 250);
        color: black;
    }
    ul , li {
        width: 50%;
        margin: auto;
        padding: 10px;
        background-color: white;
    }